/* -------------------- */
/* Global Styles        */
/* -------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
}

/* -------------------- */
/* Header               */
/* -------------------- */
.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

/* -------------------- */
/* Hero Section         */
/* -------------------- */

.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 40px;
}

.hero__subtitle {
    font-size: 18px;
    margin: 20px 0;
    color: #e5e7eb;
    max-width: 450px;
}

.hero__button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.hero__image-placeholder{
    background-color: #6b7280;
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

/* -------------------- */
/* Info Cards Section   */
/* -------------------- */
.info-cards{
    padding: 60px 150px 100px;
    text-align: center;
}

.info-cards__heading {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.info-cards__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info-card__image-placeholder {
    width: 140px;
    height: 140px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin: 0 auto 15px;
}

.info-card__text {
    width: 150px;
    font-size: 14px;
    color: #555;
}

/* -------------------- */
/* Testimonial          */
/* -------------------- */

.testimonial {
    background-color: #e5e7eb;
    padding: 100px 200px;
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
}

.testimonial__author {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    font-style: normal;
}

/* -------------------- */
/* CTA                  */
/* -------------------- */

.cta {
    padding: 100px 150px;
}

.cta__inner {
    background-color: #3882f6;
    color: white;
    padding: 40px 70px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta__button {
    background: none;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}

/* -------------------- */
/* Footer               */
/* -------------------- */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    text-align: center;
    font-size: 14px;
}